.a2-page{
  padding: 10px;
}
.noUi-vertical{
  background: url('../assets/barometer-inactive.png');
  height: 500px;
  margin: 0 auto;
  border-radius: 0;
  border: 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
}

.noUi-vertical .noUi-handle,.noUi-vertical .noUi-handle:before, .noUi-vertical .noUi-handle:after{
  top: -15px;
  box-shadow: none;
  outline: none;
  height: 0px;
}
.noUi-handle-lower,.noUi-handle-upper{
  width: 25px !important;
  height: 25px !important;
  box-shadow: none;
  background-color: #000;
  border: 0;
  border-radius: 50% ;
  background-size: contain;
}
.noUi-handle-lower{
  left: -40px !important;
  background-image: url("../assets/icons8-Right-50.png");
}
.noUi-handle-upper{
  top: 0 !important;
  left: 90px !important;
  background-image: url("../assets/icons8-Up-50.png");
}
.noUi-pips-vertical{
  padding: 0;
}
.noUi-marker-vertical.noUi-marker{
  width: 7px;
  height: 1px;
}
.noUi-marker-vertical.noUi-marker-large{
  width: 15px;
}
.noUi-base{
  border-radius: 0px;
  height: 85%;
  /*background: #00ff00; 
  background: -moz-linear-gradient(top, #00ff00 18%, #ff0000 47%, #ffffff 80%); 
  background: -webkit-linear-gradient(top, #00ff00 128%,#ff0000 47%,#ffffff 80%); 
  background: linear-gradient(to bottom, #00ff00 18%,#ff0000 47%,#ffffff 80%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff00', endColorstr='#ffffff',GradientType=0 );  IE6-9 */

}
.noUi-connect{
  box-shadow: none;
  border-radius: 0;
  background: transparent;
  border: 0px;
  border-top: 1px solid black ;
  border-bottom: 1px solid black;
}

.meter-active {
  height: 500px;
  margin: 0 auto;
  border-radius: 0;
  border: 0;
  background: url('../assets/barometer-active.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
}
